Paxos/src/analysis/data/** linguist-vendored
*.ipynb linguist-vendored
*.java linguist-language=Java

# Exclude all common Roff extensions
*.[1-9] linguist-vendored
*.man linguist-vendored
*.roff linguist-vendored
